%head
  %title Sobre nós

%h1 Sobre nós
.col-md-10.col-md-offset-1
  %br
  %br

  %p Esse site esta sendo feito como projeto para a disciplina MAC0218.

  %p Se você estiver lendo isso, saiba que tem muito amor e carinho de Daniela Favero, Felipe Noronha e Rodrigo Vidotti ♡

  %br
  %br
  %br
