%h1 UspMais
%p
  Olá #{@user.nome},
%p
  Seja Bem vindo ao UspMais! Clique no link abaixo para ativar a sua conta:
= link_to "Activate", edit_account_activation_url(@user.activation_token, |
  email: @user.email)                                                     |