%head
  %title Lista de eventos

%h1 Eventos cadastrados

.col-md-10.col-md-offset-1

  %b Lista de Eventos:
  %ul.events
    - @events.each do |ev|
      %li
        =link_to ev.nome, event_path(ev)
  = link_to "Criar novo evento", new_event_path, class: "btn btn-primary"
