%head
  %title Eventos

%h1 Eventos

.col-md-10.col-md-offset-1
  %div
    %br
    .row
    %ul.events
      - @events.each do |ev|
        .column
        %li
          =link_to ev.nome, event_path(ev)
    %br
    %br
    .row
      .column
        = link_to "Evento+", new_event_path, class: "btn btn-primary"
    %br
    %br
