// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary {
    background-color: #000000;
    border-color: #343434;
}

.btn-primary:hover {
    background-color: #343434;
    border-color: #343434;
}

.marked {
    display: inline;
    color: #ff5555;
}

.describe {
    text-align: center;
    font-size: 120%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


.mylist>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mylist>ul>li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.mylist>ul>li:last-child {
  border: none;
}

.mylist>ul>li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.mylist>ul>li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
