// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}



.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
